body {
    margin: 27px 40px;
    background: #f5f5f5;
    font-family: 'varela round', sans-serif;
}

nav {
    background-color: #566787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color:#fff;
    }

.agregar {
    background-color: #5cb85c;
    padding: 5px;
    border: 1px solid #68d368;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;      
    }

.filter-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
}

#buscar {
    width: 300px;
    height: 20px;
    padding: 6px 12px;
    margin: 20px 20px;
    color: #9F9999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table{
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    color:#435d7d;
} 
 
th, td {
    border-bottom: 1px solid #ddd;
}
tbody tr:hover {
    background-color: #e9e9e9;
}


.modal {
    width: 400px;
    height: 200px;
    background-color: beige;
    position: fixed;
    top:100px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    
}